@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap');

body {
    font-family: "Sora", sans-serif;
}

nav {
    display: flex;
    justify-content: left;
    padding: 60px;

}

ol {
    display: flex;
    list-style: none;
    gap: 50px;
    margin-left: 400px;
}

.im {
    margin-right: 100px;
    position: relative;
}

.picture {
    margin-left: 100px;
}

.btn {
    display: flex;
    justify-content: center;
    position: absolute;
    ` padding: 80px 40px;
    border-radius: 14px;
    border-color: 1px;
    size: 20px;
    line-height: 28px;
    width: 180px;
    height: 45px;
    
    text-align: center;
    


}
.btn:hover{
    background-color: #191A23;
    color: #F3F3F3;
}

.heading {
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: 400px;
    font-size: larger;

}

.first-image {
    display: flex;
    width: 800.46px;
    height: 615px;
}

p {
    font-size: large;
}

#btn {
    padding: 20px 35px;
    background-color: black;
    color: #FFFFFF;
    border-radius: 14px;
    
}
#btn:hover{
    background-color: #B9FF66;
}

.new-container {
    display: flex;
    justify-content: left;
    margin-left: 200px;
}

.label1 {
    display: flex;
    margin-left: 260px;

}

.second-container{
    display: flex;
    gap: 40px;
}
.third-container{
    display: flex;
    margin-left: 150px;
}
.second-heading{
    margin-left: 15px;
}
.fourth-container{
    margin-left: 130px;
    display: flex;
    
}
.illustration-container{
    
    
    display: flex;
    justify-content: ;

}
.illustration-container img{

    display: flex;
    margin-left: 800px;
    background-color: #F3F3F3;
}
.fifth-container{
     display: flex;
    gap: 40px;
}
.sixth-container{
     margin-left: 220px;
    display: flex;
    
}
.seventh-container{
     display: flex;
    gap: 40px;
}
.eighth-container{
    display: flex;
    margin-left: 150px;
}
.ninth-container{
     display: flex;
    gap: 40px;
    margin-left: 250px;
}
.tenth-container{
      margin-left: 150px;
    display: flex;
}
.button-left{
    padding: 20px 60px;
    background-color: black;
    color: #FFFFFF;
    border-radius: 14px;
    margin-left: 1300px;

}
.eleventh-container{
    display: flex;
    gap: 40px;
    margin-left: 250px;
}
.twelve-container{
     display: flex;
    margin-left: 250px;
}
.thirteenth-container{
display: flex;
    gap: 40px;
    margin-left: 250px;
}
.fourteenth-container{
      margin-left: 250px;
    display: flex;
}
footer{
     margin-left: 250px;
    display: flex;
}